<?xml version="1.0" encoding="UTF-8"?>

<rows>
  <row>
    <feedTypeId>testd</feedTypeId>
    <description>Test Delimited Feed File</description>
  </row>
  <row>
    <feedTypeId>testf</feedTypeId>
    <description>Test Fixed Feed File</description>
  </row>
  <row>
    <feedTypeId>testx</feedTypeId>
    <description>Test Complex XML Feed File</description>
  </row>
  <row>
    <feedTypeId>accountd</feedTypeId>
    <description>Test Complex XML Feed File</description>
  </row>
  <row>
    <feedTypeId>student</feedTypeId>
    <description>Feeds that contain student demographic information</description>
  </row>
</rows>
