<?xml version="1.0" encoding="UTF-8"?>
<feedDocument>

  <properties>
    <property name="delay" value="0"/>
  </properties>

  <delimitedRows minusRowCount="2" delimiterValue=",">
    <delimitedRow name="header" rowCount="1">
      <delimitedColumn name="examId" description="Uniquely Identifies The Exam" type="Long"/>
      <delimitedColumn name="courseId" description="Course Description" type="Integer"/>
      <delimitedColumn name="timestamp" description="File Create TimeStamp" type="Timestamp" format="yyyyMMdd-HH:mm:ss"/>
    </delimitedRow>

    <delimitedRow name="detail" linesToSkip="0">
      <delimitedColumn name="studentId" type="Long"/>
      <delimitedColumn name="lastName" type="String"/>
      <delimitedColumn name="firstName" type="String"/>
      <delimitedColumn name="middleInit" type="String"/>
      <delimitedColumn name="score" type="Integer"/>
    </delimitedRow>

    <delimitedRow name="footer" rowCount="1">
      <delimitedColumn name="examId" description="Uniquely Identifies The Exam" type="Long"/>
      <delimitedColumn name="courseId" description="Course Description" type="Integer"/>
      <delimitedColumn name="timestamp" description="File Create TimeStamp" type="Timestamp" format="yyyyMMdd-HH:mm:ss"/>
      <delimitedColumn name="rowCount" description="Row_Count" type="Integer"/>
    </delimitedRow>
  </delimitedRows>

  <phases batchSize="10000">
    <preFeedFilePhases>
       <phase name="fileNameValidationPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.FileNameValidationPhase"/>
    </preFeedFilePhases>

    <preEventPhases>
      <phase name="footerPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.FooterPhase"/>
      <phase name="headerPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.HeaderPhase"/>
    </preEventPhases>

    <batchEventPhases>
      <phase name="beanPopulatorPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.BeanPopulatorPhase"/>
      <phase name="gradingPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.GradingPhase">
        <properties>
          <property name="echoDetail" value="false"/>
        </properties>
      </phase>
      <phase name="checkpoint" enable="true" className="com.qagen.osfe.core.phases.CheckpointPhase"/>
    </batchEventPhases>

    <postEventPhases>
      <phase name="statsPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.StatsPhase"/>
    </postEventPhases>
  </phases>

  <splitters>
    <header>com.qagen.osfe.core.delimited.DelimitedHeaderSplitter</header>
    <detail>com.qagen.osfe.core.delimited.DelimitedDetailSplitter</detail>
    <footer>com.qagen.osfe.core.delimited.DelimitedFooterSplitter</footer>
  </splitters>

  <services>
    <mainService>com.qagen.osfe.core.services.StandardFeedLifeCycleService</mainService>
    <phaseService>com.qagen.osfe.core.services.PhaseLoaderService</phaseService>
    <exceptionService>com.qagen.osfe.core.services.ExceptionHandlerPlaceHolder</exceptionService>
    <checkpointService>com.qagen.osfe.core.services.CheckpointPlaceHolder</checkpointService>
  </services>

  <configLoaders>
    <propertyLoader>com.qagen.osfe.core.loaders.PropertiesConfigLoader</propertyLoader>
    <phaseLoader>com.qagen.osfe.core.loaders.PhaseConfigLoader</phaseLoader>
    <serviceLoader>com.qagen.osfe.core.loaders.ServiceConfigLoader</serviceLoader>
    <splitterLoader>com.qagen.osfe.core.loaders.SplitterConfigLoader</splitterLoader>
    <rowDescriptionLoader>com.qagen.osfe.core.delimited.DelimitedRowDescriptionLoader</rowDescriptionLoader>
  </configLoaders>

</feedDocument>
