<?xml version="1.0" encoding="UTF-8"?>
<saxConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.osfe.com/feedconfig ../../../../xsd/FeedConfig.xsd"
           xmlns="http://www.osfe.com/feedconfig">

  <saxPhases>
    <preFeedFilePhases>
      <phase ref="fileNameValidationPhase" enable="true"/>
    </preFeedFilePhases>

    <saxEventPhases>
      <saxEventPhase nameSpace="/config/channel" event="onEnd">
        <phases>
          <phase ref="headerPhase" enable="true"/>
        </phases>
      </saxEventPhase>

      <saxEventPhase nameSpace="/config/channel" event="onEnd">
        <phases>
          <phase ref="rssBeanPopulatorPhase" enable="true"/>
          <phase ref="gradingPhase" enable="true">
          </phase>
          <phase ref="checkpoint" enable="true"/>
        </phases>
      </saxEventPhase>
    </saxEventPhases>

    <postEventPhases>
      <phase ref="statsPhase" enable="true"/>
    </postEventPhases>
  </saxPhases>

  <!-- XML Not Yet Complete -->
  <beans/>

</saxConfig>
