<?xml version="1.0" encoding="UTF-8"?>

<rows>
  <row>
    <feedId>acme_qagen_testd_request</feedId>
    <activationDate>2008-01-01 12:00:00</activationDate>
    <terminationDate>2009-01-01 12:00:00</terminationDate>
    <allowConcurrentRuns>1</allowConcurrentRuns>
    <allowFailedStateRuns>0</allowFailedStateRuns>
    <collectPhasStats>1</collectPhasStats>
    <restartAtCheckpoint>1</restartAtCheckpoint>
    <nextSequenceNumber>0</nextSequenceNumber>
    <maxConcurrentRuns>1</maxConcurrentRuns>
    <feedDirectory>feed/acme/qagen/testd/request</feedDirectory>
    <feedDocument>partnerConfig/acme/qagen/testd/request</feedDocument>
    <fromDataSourceId>acme</fromDataSourceId>
    <toDataSourceId>qagen</toDataSourceId>
    <feedTypeId>testd</feedTypeId>
    <feedProtocolId>request</feedProtocolId>
    <feedDirectionId>inbound</feedDirectionId>
    <feedGroupId>test_group</feedGroupId>
  </row>
  <row>
    <feedId>acme_qagen_testf_request</feedId>
    <activationDate>2008-01-01 12:00:00</activationDate>
    <terminationDate>2009-01-01 12:00:00</terminationDate>
    <allowConcurrentRuns>1</allowConcurrentRuns>
    <allowFailedStateRuns>0</allowFailedStateRuns>
    <collectPhasStats>1</collectPhasStats>
    <restartAtCheckpoint>1</restartAtCheckpoint>
    <nextSequenceNumber>0</nextSequenceNumber>
    <maxConcurrentRuns>1</maxConcurrentRuns>
    <feedDirectory>feed/acme/qagen/testf/request</feedDirectory>
    <feedDocument>partnerConfig/acme/qagen/testf/request</feedDocument>
    <fromDataSourceId>acme</fromDataSourceId>
    <toDataSourceId>qagen</toDataSourceId>
    <feedTypeId>testf</feedTypeId>
    <feedProtocolId>request</feedProtocolId>
    <feedDirectionId>inbound</feedDirectionId>
    <feedGroupId>test_group</feedGroupId>
  </row>
  <row>
    <feedId>acme_qagen_testx_request</feedId>
    <activationDate>2008-01-01 12:00:00</activationDate>
    <terminationDate>2009-01-01 12:00:00</terminationDate>
    <allowConcurrentRuns>1</allowConcurrentRuns>
    <allowFailedStateRuns>0</allowFailedStateRuns>
    <collectPhasStats>1</collectPhasStats>
    <restartAtCheckpoint>1</restartAtCheckpoint>
    <nextSequenceNumber>0</nextSequenceNumber>
    <maxConcurrentRuns>1</maxConcurrentRuns>
    <feedDirectory>feed/acme/qagen/testx/request</feedDirectory>
    <feedDocument>partnerConfig/acme/qagen/testx/request</feedDocument>
    <fromDataSourceId>acme</fromDataSourceId>
    <toDataSourceId>qagen</toDataSourceId>
    <feedTypeId>testx</feedTypeId>
    <feedProtocolId>request</feedProtocolId>
    <feedDirectionId>inbound</feedDirectionId>
    <feedGroupId>test_group</feedGroupId>
  </row>
  <row>
    <feedId>acme_qagen_accountd_request</feedId>
    <activationDate>2008-01-01 12:00:00</activationDate>
    <terminationDate>2009-01-01 12:00:00</terminationDate>
    <allowConcurrentRuns>1</allowConcurrentRuns>
    <allowFailedStateRuns>0</allowFailedStateRuns>
    <collectPhasStats>1</collectPhasStats>
    <restartAtCheckpoint>1</restartAtCheckpoint>
    <nextSequenceNumber>1</nextSequenceNumber>
    <maxConcurrentRuns>1</maxConcurrentRuns>
    <feedDirectory>feed/acme/qagen/accontd/request</feedDirectory>
    <feedDocument>partnerConfig/acme/qagen/accountd/request</feedDocument>
    <fromDataSourceId>acme</fromDataSourceId>
    <toDataSourceId>qagen</toDataSourceId>
    <feedTypeId>accountd</feedTypeId>
    <feedProtocolId>request</feedProtocolId>
    <feedDirectionId>outbound</feedDirectionId>
    <feedGroupId>test_group</feedGroupId>
  </row>
  <row>
    <feedId>acme_qagen_student_request</feedId>
    <activationDate>2008-01-01 12:00:00</activationDate>
    <terminationDate>2009-01-01 12:00:00</terminationDate>
    <allowConcurrentRuns>1</allowConcurrentRuns>
    <allowFailedStateRuns>0</allowFailedStateRuns>
    <collectPhasStats>1</collectPhasStats>
    <restartAtCheckpoint>1</restartAtCheckpoint>
    <nextSequenceNumber>0</nextSequenceNumber>
    <maxConcurrentRuns>1</maxConcurrentRuns>
    <feedDirectory>feed/acme/qagen/student/request</feedDirectory>
    <feedDocument>partnerConfig/acme/qagen/student/request</feedDocument>
    <fromDataSourceId>acme</fromDataSourceId>
    <toDataSourceId>qagen</toDataSourceId>
    <feedTypeId>student</feedTypeId>
    <feedProtocolId>request</feedProtocolId>
    <feedDirectionId>inbound</feedDirectionId>
    <feedGroupId>student_group</feedGroupId>
  </row>
</rows>