<?xml version="1.0" encoding="UTF-8"?>
<delimitedConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xsi:schemaLocation="http://www.osfe.com/feedconfig ../../../../xsd/FeedConfig.xsd"
                 xmlns="http://www.osfe.com/feedconfig">

  <delimitedRows minusRowCount="2" delimiterValue=",">
    <delimitedRow name="headerSplitter" rowCount="1">
      <delimitedColumn name="examId" type="Long"/>
      <delimitedColumn name="courseId" type="Integer"/>
      <delimitedColumn name="timestamp" type="Timestamp" format="yyyyMMdd-HH:mm:ss"/>
    </delimitedRow>

    <delimitedRow name="detailSplitter" linesToSkip="0">
      <delimitedColumn name="studentId" type="Long"/>
      <delimitedColumn name="lastName" type="String"/>
      <delimitedColumn name="firstName" type="String"/>
      <delimitedColumn name="middleInit" type="String"/>
      <delimitedColumn name="score" type="Integer"/>
    </delimitedRow>

    <delimitedRow name="footerSplitter" rowCount="1">
      <delimitedColumn name="examId" type="Long"/>
      <delimitedColumn name="courseId" type="Integer"/>
      <delimitedColumn name="timestamp" type="Timestamp" format="yyyyMMdd-HH:mm:ss"/>
      <delimitedColumn name="rowCount" type="Integer"/>
    </delimitedRow>
  </delimitedRows>

  <eventPhases batchSize="10000">
    <preFeedFilePhases>
      <phase ref="fileNameValidationPhase" enable="true"/>
    </preFeedFilePhases>

    <preEventPhases>
      <phase ref="footerPhase" enable="true"/>
      <phase ref="headerPhase" enable="true"/>
    </preEventPhases>

    <batchEventPhases>
      <phase ref="beanPopulatorPhase" enable="true"/>
      <phase ref="gradingPhase" enable="true"/>
      <phase ref="checkpoint" enable="true"/>
    </batchEventPhases>

    <postEventPhases>
      <phase ref="statsPhase" enable="true"/>
    </postEventPhases>
  </eventPhases>

  <beans>

    <loaders>
      <bean name="phaseConfigLoader" class="com.qagen.osfe.core.loaders.EventPhasesLoader"/>
      <bean name="rowDescriptionLoader" class="com.qagen.osfe.core.delimited.DelimitedRowDescriptionLoader"/>
    </loaders>

    <services>
      <bean name="headerSplitter" class="com.qagen.osfe.core.delimited.DelimitedHeaderSplitter">
        <references>
          <reference name="rowDescriptionLoader" ref="rowDescriptionLoader"/>
        </references>
      </bean>

      <bean name="detailSplitter" class="com.qagen.osfe.core.delimited.DelimitedDetailSplitter">
        <references>
          <reference name="rowDescriptionLoader" ref="rowDescriptionLoader"/>
        </references>
      </bean>

      <bean name="footerSplitter" class="com.qagen.osfe.core.delimited.DelimitedFooterSplitter">
        <references>
          <reference name="rowDescriptionLoader" ref="rowDescriptionLoader"/>
        </references>
      </bean>

      <bean name="exceptionService" class="com.qagen.osfe.core.services.DefaultExceptionService"/>
      <bean name="checkpointService" class="com.qagen.osfe.core.services.DefaultCheckpointService"/>
    </services>

    <phases>
      <bean name="fileNameValidationPhase" class="com.qagen.osfe.examples.acme.phases.FileNameValidationPhase"/>

      <bean name="footerPhase" class="com.qagen.osfe.examples.acme.phases.FooterPhase">
        <references>
          <reference name="footerSplitter" ref="footerSplitter"/>
        </references>
      </bean>

      <bean name="headerPhase" class="com.qagen.osfe.examples.acme.phases.HeaderPhase">
        <references>
          <reference name="headerSplitter" ref="headerSplitter"/>
        </references>
      </bean>

      <bean name="beanPopulatorPhase" class="com.qagen.osfe.examples.acme.phases.BeanPopulatorPhase">
        <references>
          <reference name="detailSplitter" ref="detailSplitter"/>
        </references>
      </bean>

      <bean name="gradingPhase" class="com.qagen.osfe.examples.acme.phases.GradingPhase">
        <properties>
          <property name="echoDetail" value="false" type="Boolean"/>
          <property name="delayInSeconds" value="0" type="Integer"/>
        </properties>
      </bean>

      <bean name="checkpoint" class="com.qagen.osfe.core.phases.CheckpointPhase"/>
      <bean name="statsPhase" class="com.qagen.osfe.examples.acme.phases.StatsPhase"/>
    </phases>

    <main>
      <bean name="lifeCycleService" class="com.qagen.osfe.core.services.inbound.EventPhaseLifeCycleService">
        <references>
          <reference name="phaseConfigLoader" ref="phaseConfigLoader"/>
          <reference name="checkpointService" ref="checkpointService"/>
          <reference name="exceptionService" ref="exceptionService"/>
          <reference name="detailSplitter" ref="detailSplitter"/>
        </references>
      </bean>
    </main>
  </beans>

</delimitedConfig>
