<?xml version="1.0" encoding="UTF-8"?>

<rows>
  <row>
    <feedGroupId>test_group</feedGroupId>
    <allowConcurrentRuns>1</allowConcurrentRuns>
    <allowFailedStateRuns>1</allowFailedStateRuns>
    <collectPhaseStats>1</collectPhaseStats>
  </row>
  <row>
    <feedGroupId>student_group</feedGroupId>
    <allowConcurrentRuns>0</allowConcurrentRuns>
    <allowFailedStateRuns>1</allowFailedStateRuns>
    <collectPhaseStats>1</collectPhaseStats>
  </row>
</rows>
