<?xml version="1.0" encoding="UTF-8"?>

<dataset>
  <table name="t_feed_monitor">
    <columns>
      <column name="feed_monitor_id" isString="true"/>
      <column name="description" isString="true"/>
    </columns>
    <rows>
      <row>
        <feed_monitor_id>test_monitor</feed_monitor_id>
        <description>This monitor should only process test feeds</description>
      </row>
    </rows>
  </table>
</dataset>
