<?xml version="1.0" encoding="UTF-8"?>
<feedDocument>

  <properties>
    <property name="delay" value="0"/>
  </properties>

  <fixedRows minusRowCount="0" eolCharacter="Unix">
    <fixedRow name="header" rowCount="1" length="31">
      <fixedColumn name="examId" start="1" length="11" type="Long"/>
      <fixedColumn name="courseId" start="12" length="3" type="Integer"/>
      <fixedColumn name="timestamp" start="15" length="17" type="Timestamp" format="yyyyMMdd-HH:mm:ss"/>
    </fixedRow>

    <fixedRow name="detail" linesToSkip="0" length="42">
      <fixedColumn name="studentId" start="1" length="8" type="Long"/>
      <fixedColumn name="lastName" start="9" length="15" type="String"/>
      <fixedColumn name="firstName" start="24" length="15" type="String"/>
      <fixedColumn name="middleInit" start="39" length="1" type="String"/>
      <fixedColumn name="score" start="40" length="3" type="Integer"/>
    </fixedRow>

    <fixedRow name="footer" rowCount="1" length="39">
      <fixedColumn name="examId" start="1" length="11" type="Long"/>
      <fixedColumn name="courseId" start="12" length="3" type="Integer"/>
      <fixedColumn name="timestamp" start="15" length="17" type="Timestamp" format="yyyyMMdd-HH:mm:ss"/>
      <fixedColumn name="rowCount" start="32" length="8" type="Integer"/>
    </fixedRow>
  </fixedRows>

  <eventPhases batchSize="10000">
    <preFeedFilePhases>
      <phase name="fileNameValidationPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.FileNameValidationPhase"/>
    </preFeedFilePhases>

    <preEventPhases>
      <phase name="footerPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.FooterPhase"/>
      <phase name="headerPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.HeaderPhase"/>
    </preEventPhases>

    <batchEventPhases>
      <phase name="beanPopulatorPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.BeanPopulatorPhase"/>
      <phase name="gradingPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.GradingPhase">
        <properties>
          <property name="echoDetail" value="true"/>
        </properties>
      </phase>
      <phase name="checkpoint" enable="true" className="com.qagen.osfe.core.phases.CheckpointPhase"/>
    </batchEventPhases>

    <postEventPhases>
      <phase name="statsPhase" enable="true" className="com.qagen.osfe.examples.acme.phases.StatsPhase"/>
    </postEventPhases>
  </eventPhases>

  <splitters>
    <splitter name="header" className="com.qagen.osfe.core.fixed.FixedHeaderSplitter"/>
    <splitter name="detail" className="com.qagen.osfe.core.fixed.FixedDetailSplitter"/>
    <splitter name="footer" className="com.qagen.osfe.core.fixed.FixedFooterSplitter"/>
  </splitters>

  <services>
    <service name="mainService" className="com.qagen.osfe.core.services.StandardFeedLifeCycleService"/>
    <service name="phaseService" className="com.qagen.osfe.core.services.PhaseLoaderService"/>
    <service name="exceptionService" className="com.qagen.osfe.core.services.ExceptionHandlerPlaceHolder"/>
    <service name="checkpointService" className="com.qagen.osfe.core.services.CheckpointPlaceHolder"/>
  </services>

  <configLoaders>
    <configLoader name="propertyLoader" className="com.qagen.osfe.core.loaders.PropertiesConfigLoader"/>
    <configLoader name="phaseLoader" className="com.qagen.osfe.core.loaders.PhaseConfigLoader"/>
    <configLoader name="serviceLoader" className="com.qagen.osfe.core.loaders.ServiceConfigLoader"/>
    <configLoader name="splitterLoader" className="com.qagen.osfe.core.loaders.SplitterConfigLoader"/>
    <configLoader name="rowDescriptionLoader" className="com.qagen.osfe.core.fixed.FixedRowDescriptionLoader"/>
  </configLoaders>

</feedDocument>
